@charset "UTF8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)  
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-image: linear-gradient(rgb(112, 247, 112), rgb(243, 167, 161));
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(7, 107, 7);
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(7, 107, 7);
}
.basico{
    color: rgb(7, 107, 7);
}
.intermediario {
    color: rgb(155, 187, 12);
}
.avancado {
    color: rgb(107, 44, 7);
}
.destaque {
    background-color: #dada6fa6;
}